<% content_for :title, "Editing store" %>

<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="display-4 fw-bold text-dark mb-4">Edit Store</h1>

      <%= render "form", store: @store %>

      <div class="d-flex flex-column flex-sm-row gap-2 mt-4">
        <%= link_to @store, class: "btn btn-outline-primary" do %>
          <i class="bi bi-eye me-2"></i>
          View Store
        <% end %>
        <%= link_to stores_path, class: "btn btn-outline-secondary" do %>
          <i class="bi bi-arrow-left me-2"></i>
          Back to Stores
        <% end %>
      </div>
    </div>
  </div>
</div>
