<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <% bs_class = case type.to_sym
    when :notice then 'alert-success'
    when :alert  then 'alert-warning'
    when :error  then 'alert-danger'
    else "alert-info"
  end %>
  <div class="alert <%= bs_class %> fade show mb-3" role="alert" style="border-radius: 16px; font-size: 1.1rem;">
    <%= message %>
  </div>
<% end %>
